Задание 1

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd

In [ ]:
horse_data = pd.read_csv('horse_data.csv', names = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature',\
                                                    'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                                                    'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', \
                                                    'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', \
                                                    'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_-_feces',\
                                                    'abdomen', 'packed_cell_volume', 'total_protein', \
                                                    'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', \
                                                    'surgical_lesion?', 'site_of_lesion', 'type', 'specific_code', 'cp_data'], \
                         sep = ',', header=0, na_values='?')
horse_data = horse_data[['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                         'pain', 'outcome']]
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

Задание 2

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [ ]:
print(horse_data['surgery'].unique())
print(horse_data['age'].unique())
print(horse_data['rectal_temperature'].unique())
print(horse_data['pulse'].unique())
print(horse_data['respiratory_rate'].unique())
print(horse_data['temperature_of_extremities'].unique())
print(horse_data['pain'].unique())
print(horse_data['outcome'].unique())

[ 1.  2. nan]
[1 9]
[39.2 38.3 39.1 37.3  nan 37.9 38.1 37.2 38.  38.2 37.6 37.5 39.4 39.9
 38.4 38.6 37.8 37.7 39.  35.4 38.9 37.4 40.3 38.5 37.  39.7 38.7 36.4
 38.8 39.6 36.8 39.5 36.5 36.  37.1 39.3 36.1 36.6 40.8 36.9 40. ]
[ 88.  40. 164. 104.  nan  48.  60.  80.  90.  66.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]
[20. 24. 84. 35. nan 16. 36. 12. 52. 28. 48. 21. 60. 34. 42. 30. 96. 72.
 15. 44. 32. 22. 18. 80. 40. 10. 51. 68. 66.  9. 14. 90.  8. 23. 58. 13.
 70. 26. 88. 25. 50.]
[nan  1.  4.  2.  3.]
[ 3.  2. nan  4.  5.  1.]
[ 3.  1.  2. nan]

После того как проверили значения на уникальность появляется вопрос касательно столбца с возрастом. Изходя из описания будем считать что значение 9 соответствует значению 2. Предпологаем что 9 это ошибочные данные. Имеем возможность заменить.

In [ ]:
horse_data['age'] = horse_data.age.apply(lambda x: 2 if x == 9 else x)
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

Проверяем

In [ ]:
horse_data['age'].value_counts()

1    275
2     24
Name: age, dtype: int64

Всё поменялось коректно.

С помощью метода describe() производим стартовые расчёты

In [ ]:
horse_data.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,298.000000,299.000000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.080268,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,0.272162,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

Моды

In [ ]:
print('surgery:', horse_data['surgery'].mode()[0])
print('age:', horse_data['age'].mode()[0])
print('rectal_temperature:', horse_data['rectal_temperature'].mode()[0])
print('pulse:', horse_data['pulse'].mode()[0])
print('respiratory_rate:', horse_data['respiratory_rate'].mode()[0])
print('temperature_of_extremities:', horse_data['temperature_of_extremities'].mode()[0])
print('pain:', horse_data['pain'].mode()[0])
print('outcome:', horse_data['outcome'].mode()[0])

surgery: 1.0
age: 1
rectal_temperature: 38.0
pulse: 48.0
respiratory_rate: 20.0
temperature_of_extremities: 3.0
pain: 3.0
outcome: 1.0

Дисперсия

In [ ]:
print('surgery:', horse_data['surgery'].var())
print('age:', horse_data['age'].var())
print('rectal_temperature:', horse_data['rectal_temperature'].var())
print('pulse:', horse_data['pulse'].var())
print('respiratory_rate:', horse_data['respiratory_rate'].var())
print('temperature_of_extremities:', horse_data['temperature_of_extremities'].var())
print('pain:', horse_data['pain'].var())
print('outcome:', horse_data['outcome'].var())

surgery: 0.23998372991661482
age: 0.07407241139368367
rectal_temperature: 0.5380345276185787
pulse: 822.5723424021243
respiratory_rate: 312.5207468879668
temperature_of_extremities: 1.09488827670646
pain: 1.7003980300883774
outcome: 0.5445958466092722

Межквантильные размахи

In [ ]:
Q1_surgery = horse_data['surgery'].quantile(0.25)
Q3_surgery = horse_data['surgery'].quantile(0.75)
IQR_surgery = Q3_surgery - Q1_surgery
print('surgery:', IQR_surgery)

surgery: 1.0

In [ ]:
Q1_age = horse_data['age'].quantile(0.25)
Q3_age = horse_data['age'].quantile(0.75)
IQR_age = Q3_age - Q1_age
print('age:', IQR_age)

age: 0.0

In [ ]:
Q1_rectal_temperature = horse_data['rectal_temperature'].quantile(0.25)
Q3_rectal_temperature = horse_data['rectal_temperature'].quantile(0.75)
IQR_rectal_temperature = Q3_rectal_temperature - Q1_rectal_temperature
print('rectal_temperature:', IQR_rectal_temperature)

rectal_temperature: 0.7000000000000028

In [ ]:
Q1_pulse = horse_data['pulse'].quantile(0.25)
Q3_pulse = horse_data['pulse'].quantile(0.75)
IQR_pulse = Q3_pulse - Q1_pulse
print('pulse:', IQR_pulse)

pulse: 40.0

In [ ]:
Q1_respiratory_rate = horse_data['respiratory_rate'].quantile(0.25)
Q3_respiratory_rate = horse_data['respiratory_rate'].quantile(0.75)
IQR_respiratory_rate = Q3_respiratory_rate - Q1_respiratory_rate
print('respiratory_rate:', IQR_respiratory_rate)

respiratory_rate: 18.0

In [ ]:
Q1_temperature_of_extremities = horse_data['temperature_of_extremities'].quantile(0.25)
Q3_temperature_of_extremities = horse_data['temperature_of_extremities'].quantile(0.75)
IQR_temperature_of_extremities = Q3_temperature_of_extremities - Q1_temperature_of_extremities
print('temperature_of_extremities:', IQR_temperature_of_extremities)

temperature_of_extremities: 2.0

In [ ]:
Q1_pain = horse_data['pain'].quantile(0.25)
Q3_pain = horse_data['pain'].quantile(0.75)
IQR_pain = Q3_pain - Q1_pain
print('pain:', IQR_pain)

pain: 2.0

In [ ]:
Q1_outcome = horse_data['outcome'].quantile(0.25)
Q3_outcome = horse_data['outcome'].quantile(0.75)
IQR_outcome = Q3_outcome - Q1_outcome
print('outcome:', IQR_outcome)

outcome: 1.0

Выбросы

In [ ]:
lower_bound_surgery = Q1_surgery - (1.5 * IQR_surgery) 
upper_bound_surgery = Q3_surgery + (1.5 * IQR_surgery)
remove_outliers_surgery = horse_data[horse_data['surgery']\
                        .between(lower_bound_surgery, upper_bound_surgery, inclusive=True)].sort_values('outcome')
outliers_surgery = pd.concat([horse_data, remove_outliers_surgery]).drop_duplicates(keep=False)
outliers_surgery.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
131,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [ ]:
lower_bound_age = Q1_age - (1.5 * IQR_age) 
upper_bound_age = Q3_age + (1.5 * IQR_age)
remove_outliers_age = horse_data[horse_data['age']\
                        .between(lower_bound_age, upper_bound_age, inclusive=True)].sort_values('outcome')
outliers_age = pd.concat([horse_data, remove_outliers_age]).drop_duplicates(keep=False)
outliers_age.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
8,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
12,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
15,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
22,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0

In [ ]:
lower_bound_rectal_temperature = Q1_rectal_temperature - (1.5 * IQR_rectal_temperature) 
upper_bound_rectal_temperature = Q3_rectal_temperature + (1.5 * IQR_rectal_temperature)
remove_outliers_rectal_temperature = horse_data[horse_data['rectal_temperature']\
                                     .between(lower_bound_rectal_temperature, upper_bound_rectal_temperature, inclusive=True)]\
                                     .sort_values('outcome')
outliers_rectal_temperature = pd.concat([horse_data, remove_outliers_rectal_temperature]).drop_duplicates(keep=False)
outliers_rectal_temperature.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
15,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

In [ ]:
lower_bound_pulse = Q1_pulse - (1.5 * IQR_pulse) 
upper_bound_pulse = Q3_pulse + (1.5 * IQR_pulse)
remove_outliers_pulse = horse_data[horse_data['pulse']\
                        .between(lower_bound_pulse, upper_bound_pulse, inclusive=True)].sort_values('outcome')
outliers_pulse = pd.concat([horse_data, remove_outliers_pulse]).drop_duplicates(keep=False)
outliers_pulse.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
40,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
54,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0

In [ ]:
lower_bound_respiratory_rate = Q1_respiratory_rate - (1.5 * IQR_respiratory_rate) 
upper_bound_respiratory_rate = Q3_respiratory_rate + (1.5 * IQR_respiratory_rate)
remove_outliers_respiratory_rate = horse_data[horse_data['respiratory_rate']\
                                   .between(lower_bound_respiratory_rate, upper_bound_respiratory_rate, inclusive=True)]\
                                   .sort_values('outcome')
outliers_respiratory_rate = pd.concat([horse_data, remove_outliers_respiratory_rate]).drop_duplicates(keep=False)
outliers_respiratory_rate.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
28,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0

In [ ]:
lower_bound_temperature_of_extremities = Q1_temperature_of_extremities - (1.5 * IQR_temperature_of_extremities) 
upper_bound_temperature_of_extremities = Q3_temperature_of_extremities + (1.5 * IQR_temperature_of_extremities)
remove_outliers_temperature_of_extremities = horse_data[horse_data['temperature_of_extremities']\
                                             .between(lower_bound_temperature_of_extremities,\
                                             upper_bound_temperature_of_extremities, inclusive=True)]\
                                             .sort_values('outcome')
outliers_temperature_of_extremities = pd.concat([horse_data, remove_outliers_temperature_of_extremities]).drop_duplicates(keep=False)
outliers_temperature_of_extremities.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
16,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
22,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
24,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0

In [ ]:
lower_bound_pain = Q1_pain - (1.5 * IQR_pain) 
upper_bound_pain = Q3_pain + (1.5 * IQR_pain)
remove_outliers_pain = horse_data[horse_data['pain']\
                       .between(lower_bound_pain, upper_bound_pain, inclusive=True)].sort_values('outcome')
outliers_pain = pd.concat([horse_data, remove_outliers_pain]).drop_duplicates(keep=False)
outliers_pain.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
16,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
18,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
23,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0

In [ ]:
lower_bound_outcome = Q1_outcome - (1.5 * IQR_outcome) 
upper_bound_outcome = Q3_outcome + (1.5 * IQR_outcome)
remove_outliers_outcome = horse_data[horse_data['outcome']\
                       .between(lower_bound_outcome, upper_bound_outcome, inclusive=True)].sort_values('outcome')
outliers_outcome = pd.concat([horse_data, remove_outliers_outcome]).drop_duplicates(keep=False)
outliers_outcome.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
131,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

Задание 3

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

Нужно избавиться от пропусков

In [ ]:
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     298 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

Смотрим на процентное соотношение

In [ ]:
(horse_data.isna().mean() * 100).round(2)

surgery                        0.33
age                            0.00
rectal_temperature            20.07
pulse                          8.03
respiratory_rate              19.40
temperature_of_extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

surgery

In [ ]:
horse_data['surgery'].fillna(horse_data['surgery'].mode()[0], inplace=True)
print(horse_data['surgery'].isna().sum())
print(horse_data['surgery'].unique())

0
[1. 2.]

outcome

In [ ]:
horse_data['outcome'].fillna(horse_data['outcome'].mode()[0], inplace=True)
print(horse_data['outcome'].isna().sum())
print(horse_data['outcome'].unique())

0
[3. 1. 2.]

In [ ]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

pain

In [ ]:
fill_median = horse_data

fill_median['pain'].fillna(horse_data['pain'].median(), inplace=True)
print(fill_median['pain'].fillna(horse_data['pain'].median()).isna().sum())
print(fill_median['pain'].unique())

0
[3. 2. 4. 5. 1.]

In [ ]:
print(fill_median['pain'].describe())

count    299.000000
mean       2.953177
std        1.177736
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [ ]:
horse_data['pain'].fillna(horse_data['pain'].mode()[0], inplace=True)
print(horse_data['pain'].isna().sum())
print(horse_data['pain'].unique())

0
[3. 2. 4. 5. 1.]

rectal_temperature

In [ ]:
horse_data['rectal_temperature'].fillna(horse_data.groupby(['surgery', 'age'])['rectal_temperature'].transform('median'), inplace=True)

pulse

In [ ]:
horse_data['pulse'].fillna(horse_data.groupby(['pain', 'age'])['pulse'].transform('median'), inplace=True)

temperature_of_extremities

In [ ]:
horse_data['temperature_of_extremities'].fillna(horse_data.groupby(['age', 'outcome'])['temperature_of_extremities'].transform('median'), inplace=True)

respiratory_rate

In [ ]:
horse_data['respiratory_rate'].fillna(horse_data.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

In [ ]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            298 non-null    float64
 5   temperature_of_extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [ ]:
horse_data['respiratory_rate'].fillna(horse_data['respiratory_rate'].median(), inplace=True)
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            299 non-null    float64
 5   temperature_of_extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB