Задание 1

Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

Скачен дата сет (ds) ml-25m.zip

In [ ]:
import pandas as pd

In [ ]:
movies=pd.read_csv('movies.csv')
movies[['movieId','title']].head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
ratings=pd.read_csv('ratings.csv')
ratings=ratings[['movieId','rating']].head()

In [ ]:
joined = ratings.merge(movies, on='movieId', how='left')
joined[['movieId','rating','title']].head()

   movieId  rating                                             title
0      296     5.0                               Pulp Fiction (1994)
1      306     3.5  Three Colors: Red (Trois couleurs: Rouge) (1994)
2      307     5.0  Three Colors: Blue (Trois couleurs: Bleu) (1993)
3      665     5.0                                Underground (1995)
4      899     3.5                        Singin' in the Rain (1952)

In [ ]:
grade =ratings['rating'].max()
filtered_joined=joined[(joined ['rating']==grade)]
fr=filtered_joined.groupby(['movieId' , 'title'])['movieId'].count()

In [ ]:
fr.sort_values(ascending=False).head()

movieId  title
296      Pulp Fiction (1994)                                 1
307      Three Colors: Blue (Trois couleurs: Bleu) (1993)    1
665      Underground (1995)                                  1
Name: movieId, dtype: int64

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
power=pd.read_csv('power.csv')
power.head()

   country    year  quantity  category
0  Austria  1996.0       5.0       1.0
1  Austria  1995.0      17.0       1.0
2  Belgium  2014.0       0.0       1.0
3  Belgium  2013.0       0.0       1.0
4  Belgium  2012.0      35.0       1.0

In [ ]:
filtered_countries = power[(power['country']=='Estonia') | (power['country']=='Lithuania') | (power['country']=='Latvia') ]
filtered_countries.head()

       country    year  quantity  category
373  Lithuania  2014.0      39.0       1.0
374  Lithuania  2013.0     192.0       1.0
375  Lithuania  2012.0     196.0       1.0
376  Lithuania  2011.0     171.0       1.0
377  Lithuania  2010.0     158.0       1.0

In [ ]:
fc=filtered_countries[(filtered_countries['category']==4) | 
                      (filtered_countries['category']==12) | 
                      (filtered_countries['category']==21) & 
                      (filtered_countries['year']<2010) & 
                      (filtered_countries['year']>2005)]

In [ ]:
print('Итог равен {}КВт'.format(fc['quantity'].sum()))

Итог равен 165867.0КВт

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [ ]:
data=pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,103.62,-12.44,-10.72,NaN
1,Нефть WTI Цены на нефть WTI,100.97,-9.27,-8.41,NaN
2,Природный газ Цена на природный газ,6.89,1.75,34.13,NaN
3,Кофе,205.90,-19.15,-8.51,NaN
4,Кукуруза,772.60,21.20,2.82,NaN